body{
  font-size: 18px;
  font-family: Helvetica;

}

/** Header **/
.header{
  display: flex;
  background-color: black;
  color: white;
}

.headercontainer{
  font-size: 1rem;
  text-align: left;
  padding: 0.66rem 0.5rem;
}

.headercontainer img{
  height: 1.5rem;
}

.headercontainer span{
  padding: 0.66rem 0.5rem;
}

/** Banner **/
.banner{
  max-width: 960px;
  margin: 0px auto;
}
.title{
  height: 25rem;
  background-image: url("../images/moto.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
}

.bcontainer{
  display: block;
  width: 20rem;
  padding-top: 9rem;
  position: relative;
}

.content{
  display: block;
  font-weight: bold;
  background-color: black;
  color: white;
  padding: 2rem 3rem;
}

.content h3{
  font-size: 1rem;
  padding-bottom: 0.25rem;
}

.content h2{
  font-size: 2rem;
}

@media only screen and (max-width: 470px) {
  .title {
    height: 15rem;
  }

  .content {
    width: 100%;
    padding: 1rem 2rem;
    top: 10rem;
  }

  .content h3 {
    font-size: .77rem;
  }

  .content h2 {
    font-size: 1rem;
  }
}

/** Links **/


nav .container,
nav .mobile-nav{
  background-color: firebrick;
  color: white;
}

nav .container ul{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.container ul{
  display: flex;
  list-style: none;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

/** Main **/

.main{
  max-width: 960px;
  margin: 0 auto;
}


.products{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 3em 0 0 0;
}

.pen,
.glasses,
.watch{
  width: 30%;
}

.images img{
  max-width: 8em;
}

.images{
  border: 4px solid black;
  padding: 2em 0;
  height: 9em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text{
  display: block;
  background-color: black;
  color: white;
  text-align: center;
  padding: 0.5rem;
}

.mobile-nav li{
  display: none;
}

@media only screen and (max-width: 1024px){
  .pen,
  .watch{
    width: 47%;
  }

  nav .container{
  display: none;
}

  .business{
    width: 35%;
  }

  .mobile-nav{
    display: block;
    text-align: center;
  }

  .glasses{
    display: none;
  }
}

@media only screen and (max-width: 470px) {
  .images,
  .infoitems {
    flex-wrap: wrap;
  }

  .pen {
    width: 90%;
    margin: auto;
  }

  .watch,
  .glasses {
    display: none;
  }

  .infoitems {
    width: 90%;
    margin: 0.5rem auto;
  }
}

/** Info **/
.info{
  max-width: 960px;
  margin: 0 auto;
}

.infoitems{
  display: flex;
  justify-content: space-between;
  margin: 3em 0 0 0;
}

.business{
  width: 35%;
}

.location{
  display: block;
  background-color: black;
  color: white;
  padding: 1em 2em;
}

/** footer **/

.footer{
  background-color: black;
  color: white;
  height: 5rem;
  text-align: left;
  padding: 5rem 0;
  margin-top: 4rem;
}

.copyright{
  max-width: 960px;
  margin: 0px auto;
}

@media only screen and (max-width: 470px) {
  footer {
    text-align: center;
  }
}
